



<style>

h1 {
  background-color: black;
  color: white;
  text-align: center;
  font-family: serif
}
a:link, a:visited {
  position: absolute;
  left: 47%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 20px;
  display: inline-block
}
a:hover, a:active {
  background-color: gray;
}

</style>


<h1>Welcome to Payment System</h1>

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <p>
  <%= link_to "Sign up", new_user_registration_path %>  </p>
  |
  <p>
  <%= link_to "Login", new_user_session_path %> 
  </p>

<% end %>