
<style>



section{
}
.background {
    background-image: url(bg.jpg);
}
.container {

  width: 50%;
  border: 2px solid black;
  padding: 10px;
  text-align: center;

    position: absolute;
    left: 35%;
    top: 35%;
    height: 150px;
    width: 300px;

}

h1 {
  background-color: black;
  color: white;
  font-family: serif;
  text-align: center
}
a:link, a:visited {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
}

a:hover, a:active {
   align: center;
  background-color: gray;
}


</style>


<h1>Welcome to Payment System</h1>

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <p>
  <%= link_to "Sign up", new_user_registration_path %>  |
  <%= link_to "Login", new_user_session_path %> 
  </p>

<% end %>

<%= link_to 'Plans', controller: 'plans' %>
